header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 0 5px 20px #888
}
#make{
    font-family: 'Raleway Bold';
}

@font-face {
    font-family: 'Yananeska';
    src: URL('YananeskaPersonalUse-ado9.ttf') format('truetype');
}

@font-face {
    font-family: 'Untlang';
    src: URL('Untlang-1G1rB.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: URL('Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: URL('Raleway-SemiBold.ttf') format('truetype');
}

.contain {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.headline {
    font-family: Amaranth, sans-serif;
    font-weight: 400;
    font-size: 55px;
    width: 190px;
    color: #767d87;
    margin-top: 11px;
    margin-left: 60px;
    text-decoration: none !important;
    white-space: nowrap;
    display: block
}

#plant {
    font-size: 55px;
    color: #767d87
}

#fit {
    font-size: 55px;
    color: #afeace;
    margin-left: -15px
}

#dot {
    font-size: 55px;
    font-family: Comfortaa, cursive !important;
    margin-left: -15px;
    color: #ffa100
}

.navbar {
    resize: none !important;
    overflow: hidden;
    width: auto;
    top: 16px;
    padding: 0 14px 0 14px !important
}

.icon,
.navbar a {
    float: left;
    display: block;
    color: #2c241b;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none !important;
    font-size: 17px
}

.icon:hover,
.navbar a:hover {
    color: #ffa100
}

.icon {
    top: 49px !important;
    font-size: 34px;
    font-weight: lighter;
    display: none
}

@media screen and (max-width:750px) {
    .icon {
        float: right;
        display: block !important
    }

    .navbar a {
        display: none
    }
}

@media screen and (max-width:749px) {
    .headline {
        display: block !important
    }

    .icon {
        position: absolute !important;
        right: 36px !important;
        display: block !important
    }
}

@font-face {
    font-family: Yananeska;
    src: url(YananeskaPersonalUse-ado9.ttf) format('truetype')
}

@font-face {
    font-family: Untlang;
    src: url(Untlang-1G1rB.ttf) format('truetype')
}

@font-face {
    font-family: 'Raleway Bold';
    src: url(Raleway-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url(Raleway-SemiBold.ttf) format('truetype')
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%
}

*,
::after,
::before {
    box-sizing: inherit
}

b {
    font-weight: 700
}

body {
    margin: 0;
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
    background-color: #fff
}

@media print {
    body {
        background-color: #fff
    }
}

body::backdrop {
    background-color: #fff
}

html {
    scroll-behavior: smooth
}

.css-1k8z5lp {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none
}

.css-1v2d2q4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
    margin-bottom: 16px
}

@media (min-width:0px) {
    .css-1v2d2q4 {
        max-width: 336px
    }
}

@media (min-width:576px) {
    .css-1v2d2q4 {
        margin-left: auto;
        margin-right: auto;
        padding-top: 4px;
        max-width: 404px
    }
}

@media (min-width:992px) {
    .css-1v2d2q4 {
        margin-left: unset;
        margin-right: unset;
        padding-top: unset;
        max-width: 336px
    }
}

.css-b9fb38 {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase
}

.css-1n834u0 {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%
}

@media (min-width:576px) {
    .css-1n834u0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .css-1n834u0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .css-1n834u0 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%
    }
}

@media (min-width:1200px) {
    .css-1n834u0 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%
    }
}

@media (min-width:1920px) {
    .css-1n834u0 {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50%
    }
}

.css-b6u901 {
    margin: 0;
    margin-bottom: .35em;
    font-size: 2rem;
    line-height: 1.08;
    font-weight: 900
}

@media (min-width:576px) {
    .css-b6u901 {
        font-size: 2.5463rem
    }
}

@media (min-width:992px) {
    .css-b6u901 {
        font-size: 2.7778rem
    }
}

@media (min-width:1200px) {
    .css-b6u901 {
        font-size: 3.0093rem
    }
}

.css-1y5nj7e {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
    margin-bottom: 16px
}

.css-4v7k1t {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif
}

@media (min-width:0px) {
    .css-4v7k1t {
        min-width: 269px;
        margin-bottom: 8px;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        font-size: 14px;
        line-height: 20px
    }
}

@media (min-width:576px) {
    .css-4v7k1t {
        min-width: 636px;
        max-width: 768px;
        margin-bottom: unset;
        padding-left: 66px;
        padding-right: 66px;
        text-align: center;
        font-size: 16px
    }
}

@media (min-width:992px) {
    .css-4v7k1t {
        min-width: unset;
        max-width: 550px;
        padding-left: 0;
        padding-right: 0;
        line-height: 24px
    }
}

.css-a083v {
    max-width: 100%;
    position: relative;
    display: grid;
    height: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0s cubic-bezier(.15, .3, .25, 1);
    transition: transform 0s cubic-bezier(.15, .3, .25, 1)
}

@media (min-width:0px) {
    .css-a083v {
        width: 469px
    }
}

@media (min-width:992px) {
    .css-a083v {
        width: 880px
    }
}

@media (min-width:0px) {
    .css-1ad5ko5 {
        padding: 24px 0 0
    }
}

@media (min-width:576px) {
    .css-1ad5ko5 {
        padding: 56px 20px;
        margin-left: 0;
        margin-right: 0
    }
}

@media (min-width:992px) {
    .css-1ad5ko5 {
        padding: 56px 36px
    }
}

.css-1ad5ko5 p {
    margin-left: auto;
    margin-right: auto
}

@media (min-width:0px) {
    .css-1ad5ko5 p {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 14px;
        line-height: 20px
    }
}

@media (min-width:576px) {
    .css-1ad5ko5 p {
        padding-left: auto;
        padding-right: auto;
        font-size: 16px;
        line-height: 24px
    }
}

.css-b4nb9 {
    max-width: 640px;
    width: 100%;
    margin: 0 auto 48px auto;
    color: #000
}

@media (min-width:0px) {
    .css-b4nb9 {
        text-align: left
    }
}

@media (min-width:576px) {
    .css-b4nb9 {
        text-align: center
    }
}

.css-g0t3np {
    width: 100%;
    background-color: #f6f6f8;
    text-align: center
}

.css-pskig2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    text-align: center
}

@media (min-width:0px) {
    .css-pskig2 {
        min-height: 184px
    }
}

@media (min-width:576px) {
    .css-pskig2 {
        min-height: unset
    }
}

.css-enlun6 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    min-width: 288px
}

@media (min-width:0px) {
    .css-enlun6 {
        display: none;
        width: 288px;
        padding-top: 24px
    }
}

@media (min-width:576px) {
    .css-enlun6 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-top: 16px
    }
}

@media (min-width:992px) {
    .css-enlun6 {
        width: 70%;
        max-width: 700px
    }
}

@media (min-width:1200px) {
    .css-enlun6 {
        width: 800px
    }
}

@media (min-width:1920px) {
    .css-enlun6 {
        max-width: 800px
    }
}

.css-2lxm76 {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #000
}

.css-1cqbz5i {
    margin: 0;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase
}

@media (min-width:0px) {
    .css-1cqbz5i {
        padding-left: 8px;
        padding-right: 8px
    }
}

@media (min-width:576px) {
    .css-1cqbz5i {
        padding-left: 16px;
        padding-right: 16px
    }
}

.css-8uqg1u {
    line-height: 1.92;
    list-style: none;
    text-align: center;
    padding: 0
}

@media (min-width:0px) {
    .css-8uqg1u {
        margin: 0 auto;
        display: block;
        padding-top: 20px
    }
}

@media (min-width:576px) {
    .css-8uqg1u {
        margin: 0;
        display: inline-block;
        max-width: 530px;
        padding-top: 12px
    }
}

.css-8uqg1u li {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px
}

.css-8uqg1u a {
    font-size: 11px;
    line-height: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #06e
}

.css-8uqg1u a:hover {
    color: #1943cf
}

.css-5cm1aq {
    color: #000
}

.css-1b47e06 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit
}

.css-1b47e06::-moz-focus-inner {
    border-style: none
}

.css-18pisve {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
    color: #06e;
    font-size: 11px;
    text-transform: none;
    height: 14.5px;
    line-height: 12px
}

.css-18pisve:hover {
    color: #1943cf
}

.css-1qx89sr {
    padding-bottom: 4px
}

@media (min-width:0px) {
    .css-1qx89sr {
        padding-top: 17px
    }
}

@media (min-width:576px) {
    .css-1qx89sr {
        padding-top: 12px
    }
}

@media (min-width:992px) {
    .css-1qx89sr {
        position: absolute;
        right: 30px;
        padding-top: 17px
    }
}

.css-1qx89sr select {
    font-size: 12px
}

@media (min-width:0px) {
    .css-3suqjk {
        height: 22px;
        margin-top: 8px;
        margin-bottom: 8px
    }
}

.css-3suqjk p {
    font-size: 11px;
    line-height: 18px
}

@media (min-width:0px) {
    .css-3suqjk p {
        margin-bottom: 8px
    }
}

@media (min-width:576px) {
    .css-3suqjk p {
        margin-bottom: 0
    }
}

.css-eg6my0 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 56px;
    background-color: #06e;
    padding: 0
}

.css-18rmlqv {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px
}

.css-1d3bbye {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.css-uom0n6 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 56px;
    background-color: #00548b
}

.css-10z0jsg {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00548b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 700;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 18px;
    color: #fff;
    font-size: 13px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase
}

.css-1i8enoe {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #06e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 700;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 18px;
    color: #fff;
    font-size: 13px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase
}

.css-1sw7z84 {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00548b;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 13px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 800
}

.css-1ncw7et {
    margin: 0;
    color: #06e;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00548b;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 13px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 400
}

.css-12upb36 {
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1) 0s;
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1) 0s;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: static;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .87);
    box-shadow: 0 0 4px rgb(0 0 0 / 9%);
    background-color: #fff;
    color: #000;
    top: 0
}